.sidebarRow{
    display:flex;
    align-items: center;
    padding:10px 20px;
}

.SidebarRow__icon{
    color:rgb(85, 85, 85);
    font-size: large  !important;
}

.SidebarRow__title{
    flex:1;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
}
.sidebarRow:hover{
    background-color: rgb(45, 49, 40);
    cursor: pointer;
    
}
.sidebarRow:hover>.SidebarRow__icon{
    color:red;
}
.sidebarRow:hover>.SidebarRow__title{
    color: white;
    font-weight: bold;
    

}
.sidebarRow.selected{
    background-color: rgb(45, 49, 40);
    color:white

}
.sidebarRow.selected >.SidebarRow__icon{
    color:red;
}
.sidebarRow.selected >.SidebarRow__title{
    font-weight:bold;
}
