.channelRow{
    display:flex;
    align-items: center;
    width: 60%;
}
.channelRow__text >hr{
    height: 1px;
    border: 0;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.channelRow__text{
    display: flex;
     flex-direction: column; 
   
}
.channelRow__text>p{
    color:rgb(46, 46, 46);
    font-size: small !important;

}
.channelRow__logo{
    height:120px !important;
    width: 120px !important;
    margin:10px 60px;
}
.channelRow__text>h4{
    display: flex;
    align-items: center;
  
}